node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

functions/fir-auth-b5f8a-48b189f9fc73.json
functions/fir-auth-b5f8a-95c125031f8f.json
